In [1]:
import pandas as pd

In [2]:
cdf = pd.read_csv("Confusion_df_early.csv")
prf = pd.read_csv("PRF_df_early.csv")

In [4]:
cdf.iloc[:,1:]

     0   1   2   3   4   5   6   7   8   9  10  11  12  13  14
0   52   0   0   1   0   0   0   0   0   0   1   0   0   0   0
1    0  51   0   0   0   0   0   0   0   0   0   0   0   0   0
2    0   0  54   1   0   0   0   0   0   0   0   0   0   0   0
3    0   0   0  45   0   0   0   0   0   0   0   0   1   0   1
4    0   0   0   0  49   0   0   0   0   0   0   0   0   0   0
5    0   0   1   0   0  43   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   0  48   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1  48   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0  46   0   0   0   0   0   0
9    0   0   0   1   0   0   0   0   0  47   0   0   2   0   0
10   0   0   0   0   0   0   0   0   0   0  51   0   1   0   0
11   0   0   0   0   0   0   0   0   0   0   0  53   0   0   0
12   0   0   0   0   0   0   0   0   1   0   0   0  49   0   0
13   0   0   0   0   0   0   0   0   0   0   0   0   0  59   0
14   0   0   0   0   0   0   0   0   0   0   0   0   0   0  43

In [5]:
prf.iloc[:,1:]

    TP  FP  TN   FN  Acurracy  Precision    Recall  F1-Score
0   52   0   2  696  0.069333   1.000000  0.069519  0.130000
1   51   0   0  699  0.068000   1.000000  0.068000  0.127341
2   54   1   1  694  0.072000   0.981818  0.072193  0.134496
3   45   3   2  700  0.060000   0.937500  0.060403  0.113493
4   49   0   0  701  0.065333   1.000000  0.065333  0.122653
5   43   0   1  706  0.057333   1.000000  0.057410  0.108586
6   48   1   0  701  0.064000   0.979592  0.064085  0.120301
7   48   0   1  701  0.064000   1.000000  0.064085  0.120452
8   46   1   0  703  0.061333   0.978723  0.061415  0.115578
9   47   0   3  700  0.062667   1.000000  0.062918  0.118388
10  51   1   1  697  0.068000   0.980769  0.068182  0.127500
11  53   0   0  697  0.070667   1.000000  0.070667  0.132005
12  49   4   1  696  0.065333   0.924528  0.065772  0.122807
13  59   0   0  691  0.078667   1.000000  0.078667  0.145859
14  43   1   0  706  0.057333   0.977273  0.057410  0.108449