In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Confusion_df_CNN.csv")
df.iloc[:,1:]

      0    1   2   3    4   5   6   7   8   9   10   11  12  13   14
0   104    0   1   1    0   0   0   0   0   0    0    0   0   0    2
1     0  106   0   0    0   0   0   0   0   0    1    0   0   0    0
2     1    0  86   0    0   2   0   0   0   0    0    0   0   0    2
3     2    0   1  85    0   0   0   0   0   2    0    0   2   2    3
4     0    2   0   0  101   0   0   5   0   0    0    0   0   0    0
5     0    0   2   0    0  96   0   0   0   0    0    0   0   0    0
6     0    0   0   0    0   1  82   1   0   0    0    0   2   1    0
7     0    0   0   0    2   0   1  86   0   0    0    0   1   1    0
8     0    0   0   0    0   0   0   0  90   0    0    0   1   0    0
9     0    0   0   0    0   0   0   0   2  94    0    0   9   0    1
10    0    0   0   0    0   0   0   0   0   1  102    0   5   1    0
11    0    0   0   0    0   0   0   0   0   0    0  108   0   0    0
12    2    1   0   3    0   0   0   0   0   6    3    0  78   0    1
13    0    0   0   1    0   0   0   0   0   0    1    0   1  93    0
14    2    0   0   2    1   1   0   0   0   0    0    0   1   2  100

In [8]:
PRF_df = pd.read_csv("PRF_df_CNN.csv")
PRF_df.iloc[:,1:]

     TP  FP  TN    FN  Acurracy  Precision    Recall  F1-Score
0   104   7   4  1385  0.069333   0.936937  0.069846  0.130000
1   106   3   1  1390  0.070667   0.972477  0.070856  0.132087
2    86   4   5  1405  0.057333   0.955556  0.057679  0.108792
3    85   7  12  1396  0.056667   0.923913  0.057394  0.108074
4   101   3   7  1389  0.067333   0.971154  0.067785  0.126725
5    96   4   2  1398  0.064000   0.960000  0.064257  0.120452
6    82   1   5  1412  0.054667   0.987952  0.054886  0.103995
7    86   6   5  1403  0.057333   0.934783  0.057757  0.108792
8    90   2   1  1407  0.060000   0.978261  0.060120  0.113279
9    94   9  12  1385  0.062667   0.912621  0.063556  0.118837
10  102   5   7  1386  0.068000   0.953271  0.068548  0.127900
11  108   0   0  1392  0.072000   1.000000  0.072000  0.134328
12   78  22  16  1384  0.052000   0.780000  0.053352  0.099872
13   93   7   3  1397  0.062000   0.930000  0.062416  0.116981
14  100   9   9  1382  0.066667   0.917431  0.067476  0.125707

In [9]:
sum(PRF_df.iloc[:,1:]["Acurracy"])

0.9406666666666663

In [10]:
df = pd.read_csv("Confusion_df_CNN3D.csv")
df.iloc[:,1:]

      0    1   2   3    4   5   6   7   8    9   10   11  12  13   14
0   108    0   0   0    0   0   0   0   0    0    0    0   0   0    0
1     0  107   0   0    0   0   0   0   0    0    0    0   0   0    0
2     0    0  89   0    0   0   0   0   1    0    0    0   0   0    1
3     0    0   0  97    0   0   0   0   0    0    0    0   0   0    0
4     0    0   0   0  107   0   0   1   0    0    0    0   0   0    0
5     0    0   3   0    0  94   0   0   0    0    0    0   0   1    0
6     0    0   0   0    0   0  86   1   0    0    0    0   0   0    0
7     0    0   0   0    0   1   0  90   0    0    0    0   0   0    0
8     0    0   1   0    0   0   1   0  85    0    0    0   4   0    0
9     0    0   0   0    0   0   0   0   2  102    0    0   2   0    0
10    0    0   0   0    0   0   0   0   0    0  108    0   1   0    0
11    0    0   0   0    0   0   0   0   0    0    0  108   0   0    0
12    1    0   1   0    0   0   0   0   0    1    1    1  89   0    0
13    0    0   0   0    0   0   0   0   0    1    0    0   0  95    0
14    0    0   0   0    0   0   0   1   0    0    0    0   0   0  108

In [11]:
PRF_df = pd.read_csv("PRF_df_CNN3D.csv")
PRF_df.iloc[:,1:]

     TP  FP  TN    FN  Acurracy  Precision    Recall  F1-Score
0   108   1   0  1391  0.072000   0.990826  0.072048  0.134328
1   107   0   0  1393  0.071333   1.000000  0.071333  0.133167
2    89   5   2  1404  0.059333   0.946809  0.059612  0.112161
3    97   0   0  1403  0.064667   1.000000  0.064667  0.121478
4   107   0   1  1392  0.071333   1.000000  0.071381  0.133250
5    94   1   4  1401  0.062667   0.989474  0.062876  0.118239
6    86   1   1  1412  0.057333   0.988506  0.057410  0.108517
7    90   3   1  1406  0.060000   0.967742  0.060160  0.113279
8    85   3   6  1406  0.056667   0.965909  0.057009  0.107663
9   102   2   4  1392  0.068000   0.980769  0.068273  0.127660
10  108   1   1  1390  0.072000   0.990826  0.072096  0.134412
11  108   1   0  1391  0.072000   0.990826  0.072048  0.134328
12   89   7   5  1399  0.059333   0.927083  0.059812  0.112374
13   95   1   1  1403  0.063333   0.989583  0.063418  0.119197
14  108   1   1  1390  0.072000   0.990826  0.072096  0.134412